@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

html body {
  overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
}

*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

input,
textarea,
select,
button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  color: #000;
}

.container {
  max-width: 1205px;
  margin: 0 auto;
  padding: 15px;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 50px;
  position: relative;
}

.navbar-logo a {
  font-size: 30px;
  font-weight: 700;
  color: #fcae61 !important;
}

.navbar-logo a::after {
  content: 'DAN';
  color: #242f51;
}

.navbar-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar-links_item a {
  display: block;
  font-weight: 500;
  color: #000;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.navbar-links_item a:hover {
  color: #3e1dfc;
}

.navbar-links_btn a {
  display: block;
  width: 170px;
  height: 58px;
  background-color: #3e1dfc;
  border-radius: 50px;
  text-align: center;
  line-height: 58px;
  color: #fff;
  font-weight: 600;
}

.navbar-links_btn a:hover {
  color: #fff;
  background-color: #2202d6;
}

.navbar-linkstoggle {
  font-size: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #292929;
  --ionicon-stroke-width: 28px;
  display: none;
}

.navbar-links-mb {
  position: absolute;
  top: 100px;
  right: calc(5% / 2);
  background-color: #fff;
  -webkit-box-shadow: 2px 2px 20px rgba(146, 146, 146, 0.267);
          box-shadow: 2px 2px 20px rgba(146, 146, 146, 0.267);
  border-radius: 30px;
  padding: 20px;
  width: 95%;
  z-index: 99;
  -webkit-transform: translateY(-160%);
          transform: translateY(-160%);
  -webkit-transition: -webkit-transform .3s ease-in-out;
  transition: -webkit-transform .3s ease-in-out;
  transition: transform .3s ease-in-out;
  transition: transform .3s ease-in-out, -webkit-transform .3s ease-in-out;
}

.navbar-links-mb_item a {
  display: block;
  margin: 10px auto;
  text-align: center;
  font-weight: 700;
  color: #242424 !important;
  font-size: 20px;
  width: 90%;
  height: 60px;
  line-height: 60px;
  border-radius: 30px;
}

.navbar-links-mb_item-icon a {
  height: 40px;
  width: 40px;
  border-radius: 30px;
  -webkit-box-shadow: 2px 2px 20px rgba(211, 211, 211, 0.247);
          box-shadow: 2px 2px 20px rgba(211, 211, 211, 0.247);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 0;
  margin-top: 0;
}

.navbar-links-mb_item-icon a label {
  height: 36px;
  margin: 0 auto;
}

.navbar-links-mb_item-icon a label ion-icon {
  margin: 0 auto;
  font-size: 36px;
  --ionicon-stroke-width: 26px;
}

.navbar-links-mb_btn a {
  background-color: #3e1dfc;
  width: 70%;
  color: #e9e9e9 !important;
}

.navbar .navbar-input:checked ~ .navbar-links-mb {
  display: block;
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
}

.banner {
  background-image: url("../images/banner-bot.png");
  background-repeat: no-repeat;
  background-position: bottom;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.banner-left {
  max-width: 525px;
}

.banner-left_tag {
  margin-bottom: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #e2eaed;
  max-width: 360px;
  height: 35px;
  border-radius: 30px;
}

.banner-left_tag-icon {
  background-color: #feaa25;
  border-radius: 30px;
  width: 38px;
  height: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.banner-left_tag-icon ion-icon {
  color: #fdfdfd;
  font-size: 24px;
}

.banner-left_tag-text {
  padding-left: 10px;
  color: #242f51;
  font-weight: 600;
}

.banner-left_title {
  font-size: 60px;
  color: #242f51;
  font-weight: 600;
  line-height: 75px;
  margin-bottom: 15px;
}

.banner-left_content {
  font-size: 18px;
  color: #6a6c71;
  font-weight: 500;
  margin-bottom: 40px;
}

.banner-left_btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.banner-left_btn-1 {
  display: block;
  width: 170px;
  height: 58px;
  background-color: #3e1dfc;
  border-radius: 50px;
  text-align: center;
  line-height: 58px;
  color: #fff;
  font-weight: 600;
}

.banner-left_btn-1:hover {
  color: #fff;
  background-color: #2202d6;
}

.banner-left_btn-2 {
  display: block;
  width: 170px;
  height: 58px;
  border-radius: 50px;
  text-align: center;
  line-height: 58px;
  color: #3e1dfc;
  font-weight: 600;
  margin-left: 22px;
}

.banner-left_btn-2:hover {
  color: #2202d6;
}

.banner-right {
  border-radius: 60px;
  overflow: hidden;
  -webkit-box-shadow: 2px 2px 40px #6a6c7171;
          box-shadow: 2px 2px 40px #6a6c7171;
  margin-bottom: 55px;
  margin-top: 55px;
  margin-right: 72px;
}

@media screen and (max-width: 1024px) {
  .banner-right {
    margin-right: 20px;
  }
}

@media screen and (max-width: 900px) {
  .navbar {
    margin-bottom: 70px;
    padding-top: 20px;
  }
  .navbar .navbar-links_item a {
    display: none;
  }
  .navbar-linkstoggle {
    display: block;
  }
  .banner {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .banner-right {
    display: none;
  }
  .banner-left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  .banner-left_tag {
    margin: 0 auto;
  }
  .banner-left_btn {
    margin: 0 auto;
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 470px) {
  .navbar {
    padding-top: 0px;
  }
  .navbar-logo a {
    font-size: 24px;
  }
  .banner-left_tag {
    font-size: 12px;
  }
  .banner-left_tag p {
    margin-right: 10px;
  }
  .banner-left_title {
    font-size: 40px;
    line-height: 50px;
    margin-top: 20px;
  }
  .banner-left_btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .banner-left_btn-1 {
    margin: 0px auto;
    font-size: 12px;
    width: 120px;
    height: 40px;
    line-height: 40px;
    margin-bottom: 40px;
  }
  .banner-left_btn-2 {
    display: none;
  }
}
/*# sourceMappingURL=app.css.map */